.top_container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

body {
  margin: 0;
  text-align: center;
}

.heading_1 {
  margin: 0;
  font-family: 'Aboreto', cursive;
}

.top_cloud {
  position: absolute;
  right: 30px;
  top: 40px;
}

.bottom_cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.mountain {}

.p1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #66BFBF;
}

.p2 {
  font-family: 'Silkscreen', cursive;
  color: #66BFBF;
}

.middle-container {}

.skill-row {
  width: 50%;
  /* margin: 5px auto 5px auto; */
  margin: 100px auto;
  text-align: left;
}

.pic1 {
  width: 15%;
  border-radius: 180px;
  float: left;
  margin-right: 30px;
}

.pic2 {
  width: 15%;
  border-radius: 180px;
  float: right;
  margin-left: 30px;
}

.myButton {
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}

.myButton:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.contact-me {
  background-color: #66BFBF;
  padding: 25px;
}

/* .s1{
  clear: left;
} */
/* font-family: 'Aboreto', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Silkscreen', cursive; */
